Ini, TOML
[flake8]
#Exclude folders that contain boilerplate code
exclude = .git,
__pycache__,
docs,
venv,
env,
build,
dist,
*.migrations,
manage.py

# Created to suppress the following warning:
# E501 line too long ( > 79 characters)
per-file-ignores =
    core_project/settings.py: E501
    core_project/models.py: E501